<h1>Ingredient Allergies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lactose</th>
      <th>Nut</th>
      <th>Shellfish</th>
      <th>Wheat</th>
      <th>Vegetarian</th>
      <th>Vegan</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.lactose ? 'x' : '' %></td>
        <td><%= ingredient.nut ? 'x' : '' %></td>
        <td><%= ingredient.shellfish ? 'x' : '' %></td>
        <td><%= ingredient.wheat ? 'x' : ''%></td>
        <td><%= ingredient.vegetarian ? 'x' : '' %></td>
        <td><%= ingredient.vegan ? 'x' : '' %></td>
        <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <td><%= link_to 'Remove', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_ingredient_path %><br>
<%= link_to 'Back to Recipes', recipes_path %>
